




<div class= " flex flex-col gap-5   bottom-47 left-28" >
				
    <div class="bg-white absolute bottom-63 left-29  z-10 h-[40px] w-[180px] p-1  "> 
        <h1 class="font-semibold text-xl ">YOU GOT THIS</h1>
    </div>

</div>
<div class="group cursor-pointer">
        <div class=" h-[55px] w-[200px] bottom-45 left-28   z-10 absolute border-1 ml-2  border-white  group-hover:border-gray-400" /> 

        <div class="bg-white absolute bottom-46 left-29  z-10 h-[55px] w-[200px] p-4 flex gap-2 items-center group-hover:bg-gray-200 "> 
            <a class="z-10 font-medium" href="#"> Explore More </a>
            <svg   width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M23 11L22.293 11.707L26.086 15.5H4V16.5H26.086L22.293 20.293L23 21L28 16L23 11Z" fill="currentColor"></path></svg>
        </div>
    </div> 


    <video autoplay loop muted class="  object-cover w-full h-screen">
        <source src="https://brand.assets.adidas.com/video/upload/f_auto:video,q_auto/if_w_gt_1920,w_1920/global_you_got_this_brand_ss25_launch_hp_glp_banner_hero_4_d_e3b4868df3.mp4" type="video/mp4" />
        Your browser does not support the video tag.
        </video>
    


    
